<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moodify -- Listen with your heart</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
    <style media="screen">
      html {
        height: 100%;
      }
      body {
        background-image: linear-gradient(to bottom right, #A8FF78, #78FFD6);
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Rubik', sans-serif;
      }
      nav {
        margin-top:2%;
        position: fixed;
        top:0;
        width: 100%;
      }
      a {
        text-decoration: none;
        color: #000000;
      }
      #logoName {
        font-weight: 700;
      }
      #about {
        float: right;
        margin-top: 15px;
        margin-right: 3%;
        font-weight: 500;
      }
      .mainSentence {
        font-size: 3.5em;
        font-weight: 700;
        margin-top: 23%;
      }

      #scroll {
        margin-top: 20%;
        text-align: center;
      }

      #changeText {
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #000000;
        font-size: 60px;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        width: 350px;
        text-align: center;
      }

      #changeText::placeholder {
        color: #000000;
        text-align: center;
      }

      #changeText:focus::placeholder {
        /* color: #949494; */
        opacity: 0.5;
      }

      #changeText:focus {
        outline: none;
      }

      #searchButton {
        text-align: center;
      }

      .results {
        text-align: center;
      }

      .songFeedback {
        width: 27%;
        background-color: rgba(255, 255, 255, 0.3);;
        text-align: center;
        padding: 15px 15px;
      }

      .songFeedbackTitle {
        font-weight: 600;
        font-size: 30px;
      }

      .songFeedbackArtist {
        font-weight: 500;
        font-size: 15px;
      }

      .songFeedbackPlayback {
        background-color: #000000;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 2px 2px;
        cursor: pointer;
      }

      .songFeedbackPlayback:hover {
        background-color:#6e6e6e;
        transition: 0.3s;
      }
    </style>
  </head>

  <body>
    <nav>
      <div class="" style="display: inline-block; margin-left: 3%;">
        <a href="#" style="font-size: 40px;" id="logoName">Moodify</a> <br>
        <span style="font-weight: 500; font-size: 15px;">Listen With Your Heart</span>
      </div>
      <a href="#" id="about">About Us</a>
    </nav>

    <div class="mainSentence">
      <div style="text-align:center;">
        <span>I want to listen to </span>
        <!-- <span id="changeText">HAPPY</span> &nbsp -->
        <input type="text" name="" value="" id="changeText" placeholder="HAPPY">
        <span> songs.</span> <br>

        <button onclick="searchSongs()" type="button" name="button" id="searchButton">Search</button>


      </div>
    </div>

    <div class="results" id="results">
    </div>



    <footer id="scroll">
      <p style="text-align: center;">Scroll down to see what’s popular on Moodify</p>
    </footer>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>

    <script type="text/javascript">
      var textDemoArr = ["EXCITING","PARTY","RELAXING","CALMING","HAPPY"];
      var counter = 0;
      // var element = document.getElementById('changeText');
      var inst = setInterval(change, 3000);

      function change () {
        // element.innerHTML = textDemoArr[counter];
        // element.style.transitionDuration = "1s";
        $('#changeText').attr('placeholder',textDemoArr[counter]);
        counter++;
        if (counter >= textDemoArr.length) {
          counter = 0;
        }
      }

      function searchSongs() {
        var searchParam = document.getElementById("changeText").value;
        makeRequest(searchParam);
      }

      function makeRequest(searchTerm) {
        var data = null;
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.addEventListener("readystatechange", function () {
      	  if (this.readyState === this.DONE) {
      		  makePlaylist(this.responseText);
      	  }
        });
        var searchStr = "https://deezerdevs-deezer.p.rapidapi.com/search?q=" + searchTerm;
        xhr.open("GET", searchStr);
        xhr.setRequestHeader("x-rapidapi-host", "deezerdevs-deezer.p.rapidapi.com");
        xhr.setRequestHeader("x-rapidapi-key", "ed0387ed35msh68081b71c8d3a3cp129c22jsne333d255819e");
        xhr.send(data);
      }

      function makePlaylist(data) {
        var songArray = [];
        var objectified = JSON.parse(data);
        songArray = objectified.data;
        document.getElementById("results").innerHTML = "";
        for (var i = 0; i < songArray.length; i++) {
          printSong(songArray[i].title, songArray[i].artist.name, songArray[i].album.title, songArray[i].preview);
          writeSongData(songArray[i].title, songArray[i].artist.name, songArray[i].album.title, songArray[i].preview);
        }
      }

      function printSong(title, artist, album, preview) {
        // document.getElementById("results").innerHTML += "Title: " + title + "<br/>";
        // document.getElementById("results").innerHTML += "Artist: " + artist + "<br/>";
        // document.getElementById("results").innerHTML += "Album: " + album + "<br/>";
        // document.getElementById("results").innerHTML += "Preview link: " + preview + "<br/>";
        // $("#results").append("<span class='songFeedbackTitle' >" + title + "</span><br/>"); //append the song title
        // $("#results").append("<span class='songFeedbackArtist'>By " + artist + ", <i>" + album + "</i></span><br/>"); //append the song artist and album
        // $("#results").append("<a class='songFeedbackPlayback 'href=" + preview + ">Play</a><br/>");

        $("#results").append("<div class='songFeedback' >"+
                              "<span class='songFeedbackTitle' >" + title + "</span><br/>"+
                              "<span class='songFeedbackArtist'>By " + artist + ", <br/><i>" + album + "</i></span><br/>" +
                              "<a class='songFeedbackPlayback 'href=" + preview + ">Play</a><br/>" +
                              "</div><br/>");

         //$("#results").append('<img class="playBackButton" src="playback.png" />');
        //<img class="playBackButton" src="playback.png" />
        //$(#results).append("<button class='songFeedbackPlayback' >Play</button>");


      }

  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCI_ttcCTEkKBiAY2eg7dMstX0Wqp6hFG8",
    authDomain: "web-final-e7da6.firebaseapp.com",
    databaseURL: "https://web-final-e7da6.firebaseio.com",
    projectId: "web-final-e7da6",
    storageBucket: "web-final-e7da6.appspot.com",
    messagingSenderId: "405454676493",
    appId: "1:405454676493:web:a07767c389dd38d7492b44",
    measurementId: "G-4M19418XW6"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  
  function writeSongData(title, artist, album, link) {
  console.log("here");
  firebase.database().ref('songs/' + title).set({
  console.log("here2");
    artist: artist,
    album: album,
    link: link
  });
}

</script>
  </body>
</html>
